body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  object-fit: cover;
  object-position: center;
}

#player1-infos img,
#player2-infos img {
  width: 5vh;
  border: 1px solid;
  background-color: orange;
}

#game-board {
  display: flex;
  box-shadow: 1px 1px 4px silver;
}

#game-board .square {
  position: relative;
}

#game-board .square > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playable-animated {
  animation: blinking 2s ease-in-out infinite;
}

@keyframes blinking {
  0% {
    background-color: rgba(33, 183, 175, 1);
  }
  50% {
    background-color: rgba(33, 183, 175, 0.3);
  }

  100% {
    background-color: rgba(33, 183, 175, 1);
  }
}
