body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
  object-fit: cover;
  object-position: center;
}

#gameboard-main-ctnr {
  display: flex;
  align-items: stretch;
}

.player-infos {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 4px silver;
  padding: 16px;
  flex-direction: column;
  margin: 0 16px;
  font-size: 24px;
  text-align: center;
}

.player1-infos {
  justify-content: flex-start;
}

.player2-infos {
  justify-content: flex-end;
}

.player-infos img {
  width: calc(100% + 32px);
  margin: -16px -16px 32px -16px;
}

.player-infos > span {
  border-bottom: 1px solid;
  padding-bottom: 16px;
}

.player-infos span:nth-child(3),
.player-infos span:nth-child(5) {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
}

.player-infos span:nth-child(3) span,
.player-infos span:nth-child(5) span {
  font-size: 24px;
  display: block;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 400;
}

#game-board {
  display: flex;
  box-shadow: 1px 1px 4px silver;
}

#game-board .square {
  position: relative;
}

#game-board .square > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playable-animated {
  animation: blinkingBlue 2s ease-in-out infinite;
}

.animated-fight-square {
  animation: blinkingRed 2s ease-in-out infinite;
}

@keyframes blinkingBlue {
  0%,
  100% {
    background-color: rgba(33, 183, 175, 1);
  }
  50% {
    background-color: rgba(33, 183, 175, 0.3);
  }
}

@keyframes blinkingRed {
  0%,
  100% {
    background-color: rgba(224, 45, 18, 1);
  }
  50% {
    background-color: rgba(224, 45, 18, 0.3);
  }
}
