body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  object-fit: cover;
  object-position: center;
}

#game-board {
  display: flex;
  box-shadow: 1px 1px 4px silver;
}

#game-board .square {
  position: relative;
  border: 1px solid;
}

#game-board .square > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
